<mat-toolbar color="primary">
  <button routerLink="/home" routerLinkActive="active" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>home</mat-icon>
  </button>
  <span>My App</span>
  <span class="example-spacer"></span>
  <button mat-button routerLink="/about" routerLinkActive="active" >
    <span>About</span>
  </button>
  <button mat-button routerLink="/gallery" routerLinkActive="active"  >
    <span>Gallery</span>
  </button>
  <button mat-button routerLink="/contact" routerLinkActive="active" >
    <span>Contact</span>
  </button>
  <button mat-button routerLink="/admin" routerLinkActive="active" >
    <span>Admin</span>
  </button>
</mat-toolbar>
